---
layout: default
title: Microsoft Azure Open Source Projects and SDKs
description: Microsoft Azure open source SDKs (software development kits) and other related projects.
permalink: /projects/sdks/
---

<div class="sdks-masthead">
  <div class="container">
    <h1>Azure SDKs</h1>
    <p class="lead">These software development kits (SDKs) are actively developed by the Microsoft Azure team in
      collaboration with our open source community and the .NET Foundation.</p>

    <p class="lead">Together we are dedicated to creating the best possible experience for
      developers who are creating amazing experiences built on the world-class
      infrastructure, platforms and frameworks that make up Microsoft Azure.</p>
  </div>
</div>

{% for language in site.data.languages %}
  <div class="featurette {% cycle 'odd', 'even' %}">
    <h2 class="featurette-title">{{ language.name }}</h2>
    {% for lead in language.leads %}
      <p class="lead">{{ lead }}</p>
    {% endfor %}
    <div class="container">
      <div class="card-columns">
        {% for project in language.projects %}
          <div class="card">
            <h3 class="card-header"><a class="nav-link" href="{{ project.repo }}">
              <img src="/images/gh-mark-120px.png"/>{{ project.name }}</a></h3>
              {% for blurb in project.blurbs %}
                <div class="card-block">
                  <p class="card-text">{{ blurb }}</p>
                </div>
              {% endfor %}
              {% unless project.list-items.empty? %}
                <ul class="list-group list-group-flush">
                  {% for item in project.list-items %}
                    {% case item.type %}
                    {% when 'link' %}
                      <li class="list-group-item"><a class="nav-link" href="{{ item.link }}">{{ item.content }}</a></li>
                    {% else %}
                      <li class="list-group-item">{{ item.content }}</li>
                    {% endcase %}
                  {% endfor %}
                </ul>
              {% endunless %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
