<footer class="site-footer">

  <p class="pull-right"><a href="#top">Back to top</a></p>

  <div class="links">
    <a href="//azure.microsoft.com/">Azure.Microsoft.com</a> |
    <a href="//azure.microsoft.com/blog/">Azure Blog</a> |
    <a href="https://twitter.com/Azure">@Azure</a> |
    <a href="https://github.com/azure/">GitHub</a> |
    <a href="/thanks/">Thank you to our contributors</a>
  </div>

  <p>
    <small>
      &copy; Microsoft |
      <a href="http://go.microsoft.com/fwlink/p/?linkid=131004&clcid=0x409">Privacy and Cookies</a> |
      <a href="http://go.microsoft.com/fwlink/p/?linkid=222682&clcid=0x409">Trademarks</a>
    </small>
  </p>

</footer>
