<div class="az-footer">
  <div class="container">
    <ul class="footer-links">
      <li><a href="https://azure.microsoft.com/">Azure.com</a></li>
      <li><a href="https://azure.microsoft.com/blog/">Azure Blog</a></li>
      <li><a href="https://twitter.com/Azure">@Azure</a></li>
      <li><a href="https://github.com/azure/">GitHub</a></li>
      <li><a href="/thanks">Thank you!</a></li>
    </ul>

    <ul class="muted-footer-links">
      <li>
        <small>&copy; Microsoft</small>
      </li>
      <li>
        <small><a href="http://go.microsoft.com/fwlink/p/?linkid=131004&clcid=0x409">Privacy and Cookies</a></small>
      </li>
      <li>
        <small><a href="http://go.microsoft.com/fwlink/p/?linkid=222682&clcid=0x409">Trademarks</a></small>
      </li>
    </ul>
  </div>
</div>
