<div class="footer">
  <div class="container">
    <div class="links">
      <a href="https://azure.microsoft.com/">Azure.com</a> |
      <a href="https://azure.microsoft.com/blog/">Azure Blog</a> |
      <a href="https://twitter.com/Azure">@Azure</a> |
      <a href="https://github.com/azure/">GitHub</a> |
      <a href="/thanks">Thank you!</a>
    </div>

    <p class="small">
      &copy; Microsoft |
      <a href="http://go.microsoft.com/fwlink/p/?linkid=131004&clcid=0x409">Privacy and Cookies</a> |
      <a href="http://go.microsoft.com/fwlink/p/?linkid=222682&clcid=0x409">Trademarks</a>
    </p>
  </div>
</div>
