<nav class="navbar navbar-dark navbar-fixed-top az-navbar">
  <button class="navbar-toggler navbar-toggler-blue hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
    &#9776;
  </button>
  <div class="pull-xs-left hidden-xs-down hidden-md-up az-icon-container">
    <a href="/"><img class="az-icon" src="/images/msft-icon.png" alt="Microsoft Logo"></a>
  </div>
  <div class="pull-xs-left hidden-sm-down">
    <a href="/"><img class="az-logo" src="/images/logo-msft-dark@2x.png" alt="Microsoft Logo"></a>
  </div>
  <div class="collapse navbar-toggleable-xs pull-xs-right" id="navbar-header">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <a class="nav-link" id="homeLink" rel="home" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="projectsLink" href="#" data-toggle="collapse" data-target="#projects-drop">Projects</a>
        <div>
          <ul id="projects-drop" class="nav collapse">
            <li><a class="nav-link" id="projectsclisLink" href="/projects/clis">CLIs</a></li>
            <li><a class="nav-link" id="projectssdksLink" href="/projects/sdks">SDKs</a></li>
            <li><a class="nav-link" id="projectsapisLink" href="/projects/apis">APIs</a></li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" id="guidelinesLink" href="/guidelines">Guidelines</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" id="contactLink" href="/contact">Contact</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" id="thanksLink" href="/thanks">Thanks!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://azure.microsoft.com" target="_blank">Azure.com</a>
      </li>
    </ul>
  </div>
</nav>
