<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="Microsoft, Azure, Management, Cloud, Reference, Docs, Documentation, Java, C#, JavaScript, Node, Ruby, Python, Golang, Open Source, Developer, .Net">
  <meta name="author" content="Microsoft Corporation">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description"
        content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
        href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}"/>

  <link href="/css/main.css" rel="stylesheet">

  <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
