.swagger-section {
  min-height: 500px;
  .swagger-ui-wrap {
    max-width: 1200px !important;
  }

  .container{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}