.defaultMasthead {
  h1 {
    margin-top: .5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-weight: 200;
  }

  margin-left: auto;
  margin-right: auto;
  min-height: 210px;
  padding: 2rem 0rem;
  color: #fff;

  .lead {
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    font-size: 1rem;
    color: #fff;
  }

  .btn {
    margin-top: 1rem;
  }

  .btn-az {
    font-weight: 500;
    color: #fff;
    border-color: #fff;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: $blue-bright;
      border-color: $blue-bright;
    }
  }

  @include media-breakpoint-up(sm) {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .btn {
      width: auto;
    }
  }

  @include media-breakpoint-down(sm) {
    background-color: $blue-bright;

    .btn-az {

      &:hover,
      &:focus,
      &:active {
        color: $blue-bright;
        background-color: #fff;
        border-color: $blue-bright;
      }
    }
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 1rem;

    h1 {
      font-size: 2.5rem;
    }

    .lead {
      font-size: 1rem;
    }
  }

  @include media-breakpoint-up(lg) {
    h1 {
      width: 85%;
    }

    .lead {
      width: 85%;
      font-size: 1.25rem;
    }
  }
}

.masthead {
  @extend .defaultMasthead;
  @include media-breakpoint-up(sm) {
    background-image: url('/images/hero-home.jpg');
  }
}

.apis-masthead {
  @extend .defaultMasthead;
  @include media-breakpoint-up(sm) {
    background-image: url('/images/hero-devices.jpg');
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: $gray;
    }
  }
}

.clis-masthead {
  @extend .defaultMasthead;
  pre {
    color: $light-gray;
  }
  background-color: #000;
}

.sdks-masthead {
  @extend .defaultMasthead;
  @include media-breakpoint-up(sm) {
    background-image: url('/images/hero-partners.png');
    background-position: 0px .7rem;
  }
}

.guidelines-masthead {
  @extend .defaultMasthead;
  @include media-breakpoint-up(sm) {
    background-image: url('/images/hero-partners.png');
  }
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: $gray;
    }
  }
  min-height: 300px;
}

.column-masthead {
  padding-left: 0;
  padding-right: 0;
}
