
$blue:      #0072c6;
$blue-bright: #00abec;
$gray: rgba(255, 255, 255, 0.75);
$light-gray: rgba(255, 255, 255, 0.85);

@import "bootstrap";
@import "card";
@import "footer";
@import "nav";
@import "featurette";
@import "masthead";
@import "button";
@import "cursor";
@import "code";
@import "api";
@import "screen";
@import "sidebar";
@import "guidelines";

body {
  @include media-breakpoint-up(sm) {
    padding-top: 3.3rem;
  }
}

pre {
  overflow: visible;
}
