---
layout: default
title: Contributors, thank you - Microsoft Azure Open Source
description: Contributors and public thank yous from the Microsoft Azure open source SDK team.
permalink: /thanks/
redirect_from:
  - /thanks.html
---

<div class="apis-masthead">
  <div class="container">
    <h1>Thank you!</h1>
    <p class="lead">Thanks go to our community of developers who have helped improve the
      quality of the Microsoft Azure open source products by helping with
      code contributions.</p>

    <p class="lead"><a href="/guidelines/" class="btn btn-az btn-outline">Learn how to contribute &raquo;</a></p>

  </div>
</div>

<div class="featurette">
  <div class="featurette-title">Community Contributors</div>

  <p class="lead">
    <code>git log --pretty=format:&quot;%aN <%aE>&quot; | sort -u | node process-contributors.js</code>
  </p>

  {% for contrib in site.data.contributors %}

    <div class="featurette-subtitle">{{ contrib.name }}</div>

    <div class="card-columns centered-steps">
    {% for person in contrib.contributors %}

      <div class="card">
        <div class="card-header">{{ person.name }}</div>
        <div class="card-block">
          <img class="card-img-top" src="{{ person.gravatar }}" alt="{{ person.alt }}">
        </div>
      </div>

    {% endfor %}
    </div>

  {% endfor %}


  <p class="lead">
    <small>If you've contributed to Microsoft Azure open source and would like to
      be listed, please submit a pull request to <code><a
          href="https://github.com/azure/azure.github.io/blob/master/thanks.html">/thanks.html</a></code>.
    </small>
  </p>

</div>


<div class="featurette">
  <div class="featurette-title">Site credits</div>

  <div class="container">
    <div class="card text-xs-left centered-steps">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="//twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
      </ul>
    </div>
  </div>
</div>