---
layout: default
---
<div class="post">

  {% include header.html type="post" %}

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <article role="main" class="blog-post">
          {{ content }}
        </article>

        {% if page.tags.size > 0 %}
        <div class="blog-tags">
          Tags:
          {% for tag in page.tags %}
          <a class="btn btn-az btn-outline" href="/tag/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </div>
        {% endif %}

        {% if page.social-share %}
        {% include social-share.html %}
        {% endif %}

        <div class="pager">
          {% if page.previous.url %}
          <div class="col-xs-1">
            <a class="btn btn-az btn-outline" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" title="{{page.previous.title}}">&larr; Previous Post</a>
          </div>
          {% endif %}
          {% if page.next.url %}
          <div class="col-xs-2 offset-xs-6">
            <a class="btn btn-az btn-outline" href="{{ page.next.url  | prepend: site.baseurl | replace: '//', '/' }}">Next Post &rarr;</a>
          </div>
          {% endif %}
        </div>


        {% if page.comments %}
        <div class="disqus-comments">
          {% include disqus.html %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>

</div>
